1. Máte možnost si vybrat  z 6 témat otázek, každá obsahuje 10 otázek.
2. Na každou sérii otázek máte 5 minut.
3. Po zodpovězené otázce se nejde vrátit.
4. Musíte odpovědět, abyste mohli na další otázku.